@import "module/col-center";
@import "module/utils";

//$background: #C9C9C9;
//$box: #BDBDBD;
//$border: #aaaaaa;
//$green: #27AE60;

.main-container {
  position: relative;
  width: 1367px;
  height: 605px;
  background: #C2C2C2;

  margin: 0 auto;

  .head-container {
    height: 80px;
  }

  .secondary-container {
    display: flex;
    justify-content: center;

    .col-left {
      position: absolute;
      width: 240px;
      height: 525px;
      left: 83px;
      top: 80px;
      background: $background;
    }

    .col-right {
      position: absolute;
      width: 240px;
      height: 525px;
      left: 1043px;
      top: 80px;

      background: $background;
    }

  }
}

#star-box{
  background: $yellow !important;
}

